/* CSS files add styling rules to your content */
*{
  margin:0;
}
h1 {
  color: green;
}
.nav{
  display:flex;
  flex-direction:row;
  background:grey;
  padding: 20px 0;
}
.link{
  margin:0 10px;
  
  font-family:helvetica;
  font-weight:300;
  font-size:15px;
  color:white;
}
.link:hover{
  border-bottom:1px solid white;
}
.me-n-az{
  max-width:90%;
  display:block;
  margin:20px auto;
}